:root{
    --pink: #5f0210;
    --green: #2F6114;
    --navColor: #9dc94b97;
    --sideNav: #9dc94b97;
    --lightBlue: #296065;
    --blue: #00606B;
    --red: #A2240B;
    --lightRed: #B00707;
    --bodyColor: #FFFFFF;
    --mainTextColour: #000000;
    --invertText: #FFFFFF;
    --grad1: #e4f2a2;
    --grad2: #9dc94b;
}
body.dark{
    --pink: #FB657B;
    --green: #CDD370;
    --navColor: #6b8d2b97;
    --sideNav: #6b8d2b97;
    --lightBlue: #C6E4E8;
    --blue: #2FB0BC;
    --red: #F4765D;
    --lightRed: #EFC1BC;
    --bodyColor: #000000;
    --mainTextColour: #FFFFFF;
    --invertText: #000000;
    --grad1: #22300c;
    --grad2: #4A5E21;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background: var(--bodyColor);
    /* background: linear-gradient(0deg,rgba(205, 211, 112, 1) 0%, rgba(198, 228, 232, 1) 64%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: var(--bodyColour); */
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    max-width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* max-width: 1120px; */
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 2rem;
}
.section-title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--blue);
    color: var(--invertText);
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    transition: transform .6s, ease-in-out;
}
.button:hover{
    transform: scale(1.1);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--navColor);
    z-index: 100;
    backdrop-filter: blur(10px);
}
nav .navBar{
    position: relative;
    height: 100%;
    /* max-width: 1000px; */
    width: 100%;
    background-color: var(--navColor);
    margin: 0 auto;
    /* padding: 0 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .navBar .sideBarOpen{
    color: var(--mainTextColour);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .navBar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--mainTextColour);
    text-decoration: none;
}

.menu .logoToggle{
        display: none;
    }

.navBar .navLinks{
    display: flex;
    align-items: center;
    padding-right: 25vw;
    padding-left: 25vw;
    color: var(--mainTextColour);
}

.navBar .navLinks li{
    margin: 0 5px;
    list-style-type: none;
}

.navLinks li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--mainTextColour);
    text-decoration: none;
    padding: 10px;
}
.navLinks li a::after{
    content: '';
    position: absolute;
    left: 5%;
    bottom: 5px;
    height: 2px;
    width: 0;
    background-color: var(--mainTextColour);
    transition: width .4s;
}
.navLinks li:hover a::after{
    width: 90%;
}

.navBar .darkLight-searchBox{
    display: flex;
    align-items: center;
}
.darkLight-searchBox .darkLight,
.darkLight-searchBox .searchBox{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: var(--mainTextColour);
}

.darkLight i, 
.searchBox i{
    position: absolute;
    color: var(--mainTextColour);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.darkLight i.sun{
    opacity: 0;
    pointer-events: none;
}
.darkLight.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.darkLight.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchBox i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchBox.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchBox.active i.search{
    opacity: 0;
    pointer-events: none;
}
/*-----------------------main body---------------------------------*/
.main{
    overflow: hidden;
}
.mainBody{
    color: var(--mainTextColour);
    margin-top: 70px;
    display: flex;
    align-items: center;
    z-index: 1;
    /* position: absolute; */
    flex-direction: column;
    width: 100vw;
}

.characterCanvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    pointer-events: none;
    display: none;
}
.characterCanvas.show {
    display: inline;
}

.target{
    /* background-color: purple; */
    display: inline-block;
    /* position: absolute; */
}

/* --------------------------Home---------------------------- */
section{
    /* width: 100vw; */
    padding: 3rem 12%;
}
.home{
    display: flex;
    /* flex-direction: auto; */
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    /* background-color: red; */
    max-width: 90vw;
}
.home-name,
.home-subtitle{
    margin: 0;
    margin-bottom: -2rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    /* align-items: center;
    text-align: center; */
    gap: 0;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-description{
    max-width: 80%;
    margin-bottom: 0;
}
#welcome-typed{
    color: var(--lightRed);
    font-weight: bolder;
    font-size: 3rem;
    margin-right: 10px;
}
#name{
    color: var(--pink);
    font-weight: bolder;
    font-size: 4rem;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--mainTextColour);
    border-radius: 50%;
    color: var(--mainTextColour);
    margin: 1.5rem 2rem 1.5rem 0rem;
    transition: 0.3s ease;
    text-decoration: none;
}
.social-icons a:hover{
    color: var(--invertText);
    background-color: var(--pink);
    transform: scale(1.2)translateY(-5px);
}
/* ------------------GOOSE HINT-------------------------------- */
.home-goose-hint{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 140px;
    margin-top: 0;
}
/* .home-goose-hint img{
    filter: brightness(0);
} */
.home-goose-hint p{
    text-align: center;
}
.home-goose-hint .hidden-text{
    display: none;
}
.home-goose-hint .hidden-text span{
    color: var(--lightRed);
    font-weight: bold;
}
.home-goose-hint:hover .default-text{
    display: none;
}
.home-goose-hint:hover .hidden-text{
    display: block;
}
/* ------------------ABOUT-------------------------------- */
.about-container{
    row-gap: 4rem;
}
.about-content{
    display: grid;
    row-gap: 3rem;
    /* justify-content: center; */
}
.about-data{
    text-align: center;
}
.about-subtitle{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 30px;
    color: var(--pink);
    margin-bottom: 1rem;
}
.about-items li{
    list-style: none;
}
.about-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.about-item{
    background-color: var(--blue);
    padding: .5rem .75rem;
    border-radius: 2rem;
    color: var(--invertText);
    font-weight: 600;
    border: 2px solid var(--mainTextColour);
    cursor: default;
    transition: background-color .4s, color .4s, border-color .4s;
}
.about-item:hover{
    background-color: var(--bodyColour);
    color: var(--mainTextColour);
    border-color: var(--blue);
}
/* ------------------PROJECTS-------------------------------- */
.projects{
    /* background-color: red; */
}
.projects-container{
    row-gap: 2rem;
    grid-template-columns: repeat(3, 350px);
}
.projects-card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 16px hsla(0, 52%, 45%, 0.5);
    /* background-color: red; */
    width: 350px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}
.projects-data{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    row-gap: .5rem;
    text-align: center;
    border-radius: 1rem;
}
.projects-card:hover{
    transform: scale(1.1);
}
/* ------------------CONTACT-------------------------------- */
.contact{
    /* background-color: green; */
}
.contact-container{
    row-gap: 4rem;
    grid-template-columns: 310px 450px;
    column-gap: 10rem;
}
.contact-form{
    position: relative;
    row-gap: 1rem;
    /* min-width: 60vw; */
}
.contact-input{
    background: var(--bodyColour);
    color: var(--mainTextColour);
    border: 2px solid var(--pink);
    outline: none;
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-weight: 700;
}
.contact-input::placeholder{
    color: var(--mainTextColour);
    transition: color .4s;
}
.contact-input:focus::placeholder{
    color: var(--pink);
}
.contact-input:autofill{
    transition: background-color 6000s, color 6000s;
}
.contact-area{
    height: 10rem;
    resize: none;
}
.contact-form .button{
    cursor: pointer;
    justify-self: center;
    /* margin-top: 1rem; */
}
.contact-message{
    position: absolute;
    bottom: -3rem;
    font-size: 15px;
    justify-self: center;
}
.contact-data{
    display: flex;
    row-gap: 1.5rem;
    flex-direction: column;
}
.contact-goose{
    width: 100px;
    height: auto;
    align-self: center;
}
.contact-address{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-style: initial;
    /* justify-content: flex-start; */
}
.contact-address i{
    font-size: 2rem;
    color: var(--mainTextColour)
}
.contact-content{
    align-items: flex-start;
    justify-content: center;
    row-gap: 2rem;
}
.contact-form{
    order: 1;
}
/* ------------------FOOTER-------------------------------- */
.footer{
    padding-block: 2rem 2rem;
    /* background-color: red; */
    width: 100vw;
    /* background: #3b6623;
    background: linear-gradient(0deg, rgba(59, 102, 35, 1) 35%, rgba(205, 211, 112, 1) 100%); */
    background: var(--navColor);
    background: linear-gradient(0deg, var(--grad2) 0%, var(--grad1) 65%, var(--bodyColor) 100%);    
}
.footer-container{
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    /* width: 100%; */
    padding: 25px;
}
.footer-links,
.footer-socials{
    display: flex;
    justify-content: center;
}
.footer-logo{
    color: var(--mainTextColour);
    text-decoration: none;
    font-weight: 300;
    transition: color .4s;
    font-size: 40px;
    justify-self: flex-start;
    margin-bottom: 0;
}
.footer-logo:hover{
    color: var(--pink);
}
.footer-links{
    column-gap: 3rem;
}
.footer-link{
    color: var(--mainTextColour);
    transition: color .4s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.footer-link:hover{
    /* color: var(--pink); */
    transform: scale(1.1);
}
.footer-socials{
    column-gap: 1.5rem;
    justify-self: flex-end;
}
.footer-social{
    color: var(--mainTextColour);
    font-size: 1.5rem;
    transition: transform .4s;
}
.footer-social:hover{
    transform: translateY(-0.25rem);
}
.footer-copy{
    display: block;
    margin-top: 0;
    text-align: center;
    font-size: 15px;
    color: var(--mainTextColour);
}
/*-----------------------SCROLL BAR---------------------------------*/
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(0, 0%, 15%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 35%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 55%);
}

/*-----------------------JUMP TO TOP OF PAGE---------------------------------*/
.scrollup{
    position: fixed;
    right: 3rem;
    bottom: -50%;
    /* background-color: var(--bodyColor); */
    display: inline-flex;
    padding: 6px;
    color: var(--pink);
    font-size: 1.25rem;
    border-radius: .25rem;
    z-index: 2;
    transition: bottom .4s, transform .4s;
    text-decoration: none;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 3rem;
    right: 3rem;
}

/*----------------------- BREAKPOINTS---------------------------------*/
@media(max-width: 1170px){
    .navBar .navLinks{
        padding-right: 15vw;
        padding-left: 15vw;
    }
    .projects-container{
        grid-template-columns: repeat(2, 350px);
    }
    .contact-container{
        grid-template-columns: 310px 350px;
        column-gap: 4rem;
    }
    .contact-data{
        row-gap: 1rem;
    }
    .contact-content{
        row-gap: 1rem;
    }
    .contact-form .button{
        justify-self: auto;
    }
    .contact-area{
        height: 10rem;
    }
    .footer-logo{
        font-size: 30px;
    }
}

@media (max-width: 790px) {
    nav .navBar{
        padding: 0;
    }
    nav .navBar .sideBarOpen{
        display: block;
    }
    .navLogo{
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 200px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--sideNav);
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: 0;
    }
    nav.active .navBar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logoToggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logoToggle .sideBarClose{
        color: var(--mainTextColour);
        font-size: 24px;
        cursor: pointer;
    }
    .navBar .navLinks{
        flex-direction: column;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .navLinks li a{
        display: block;
        margin-top: 20px;
    }
    /* --------------------------Home---------------------------- */
    .home{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    /* --------------------------PROJECTS and CONTACT---------------------------- */
    .projects-container,
    .contact-container{
        grid-template-columns: repeat(1, 350px);
    }
    .contact-form{
        order: 0;
    }
    /* --------------------------FOOTER---------------------------- */
    .footer-container{
        grid-template-columns: none;
    }
    .footer-logo{
        font-size: 30px;
        justify-self: center;
        margin-bottom: 1rem;
    }
    .footer-links{
        column-gap: 2rem;
    }
    .footer-socials{
        justify-self: auto;
    }
}

/* 2k resolutions */
@media screen and (min-width: 2048px){
    body{
        zoom: 1.2;
    }
}