:root{   
    --background: #eff0f3;
    --headline: #0d0d0d;
    --paragraph: #2a2a2a;
    --button: #ff8e3c;
    --buttonHover: #9C003F;
    --buttonText: #0d0d0d;
    --text: black;
    --invertText: white;
    /*elements*/
    --stroke: #0d0d0d;
    --main: #eff0f3;
    --highlight: #ff8e3c;
    --textHighlight: #8F3200;
    --secondary: #fffffe;
    --tertiary: #d9376e;
    --textTertiary: #9C003F;
    --nav: #eff0f3c7;
    --navOutline: black;
    --navText: black;
    --tertiaryShadow: #d9376dbe;
    --highlightShadow: #ff8d3cb9;
    --scrollBarBackground: #660029;
    --scrollBar: #F1B1C7;
    --scrollBarSelect: #FEF6F8;
    --popupBackground: #FFEDD6;
    --popupText: black;
    --gooseFilter: 0;
}
body.dark{
    --background: #0f0e17;
    --headline: #fffffe;
    --paragraph: #a7a9be;
    --button: #ff8906;
    --buttonHover: #F4A9C3;
    --buttonText: #000000;
    --text: white;
    --invertText: black;
    /*elements*/
    --stroke: black;
    --main: #fffffe;
    --highlight: #ff8906;
    --textHighlight: #ff8906;
    --secondary: #181818;
    --tertiary: #e53170;
    --textTertiary: #F4A9C3;
    --nav: #0f0e17b9;
    --navOutline: #ff8d3c;
    --navText: #ff8d3c;
    --tertiaryShadow: #e53170c0;
    --highlightShadow: #ff8d3cb9;
    --scrollBarBackground: #660029;
    --scrollBar: #F1B1C7;
    --scrollBarSelect: #FEF6F8;
    --popupBackground: #2c0b18;
    --popupText: white;
    --gooseFilter: 1;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background: var(--background);
    /* background: linear-gradient(0deg,rgba(205, 211, 112, 1) 0%, rgba(198, 228, 232, 1) 64%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: var(--bodyColour); */
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    max-width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.container{
    /* max-width: 1120px; */
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 2rem;
}
.title{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}
.section-title{
    /* background-color: red; */
    text-align: center;
    font-size: 2rem;
    /* margin-bottom: 3rem; */
}
.breaker{
    width: 30%;
    height: 15px;
    background-color: var(--tertiary);
    border-radius: 25px;
}
[id]{
    scroll-margin-top: 70px;
}
.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--highlight);
    color: var(--buttonText);
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border-color: var(--tertiary);
    transition: transform .6s, ease-in-out;
}
.button:hover{
    transform: scale(1.1);
    background-color: var(--buttonHover);
    color: var(--invertText);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav);
    /* border-bottom: 3px solid var(--navOutline); */
    box-shadow: 0 8px 16px var(--highlightShadow);
    z-index: 105;
    backdrop-filter: blur(10px);
}
nav .navBar{
    position: relative;
    height: 100%;
    /* max-width: 1000px; */
    width: 100%;
    /* background-color: var(--nav); */
    margin: 0 auto;
    /* padding: 0 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .navBar .sideBarOpen{
    color: var(--navText);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .navBar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--navText);
    text-decoration: none;
}

.menu .logoToggle{
        display: none;
    }

.navBar .navLinks{
    display: flex;
    align-items: center;
    padding-right: 25vw;
    padding-left: 25vw;
    color: var(--navText);
}

.navBar .navLinks li{
    margin: 0 5px;
    list-style-type: none;
}

.navLinks li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--navText);
    text-decoration: none;
    padding: 10px;
}
.navLinks li a::after{
    content: '';
    position: absolute;
    left: 5%;
    bottom: 5px;
    height: 2px;
    width: 0;
    background-color: var(--navText);
    transition: width .4s;
}
.navLinks li:hover a::after{
    width: 90%;
}

.navBar .darkLight-gooseSwitch{
    display: flex;
    align-items: center;
}
.darkLight-gooseSwitch .darkLight,
.darkLight-gooseSwitch .gooseSwitch,
.darkLight-gooseSwitch .infoCircle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: var(--navText);
}

.darkLight i, 
.gooseSwitch i,
.infoCircle i{
    position: absolute;
    color: var(--navText);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.darkLight i.sun{
    opacity: 0;
    pointer-events: none;
}
.darkLight.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.darkLight.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.gooseSwitch i.cancel{
    opacity: 0;
    pointer-events: none;
}
.gooseSwitch.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.gooseSwitch.active i.goose{
    opacity: 0;
    pointer-events: none;
}
.infoCircle i.info{
    display: none;
    pointer-events: none;
}
.infoCircle.active i.info{
    display: flex;
    pointer-events: auto;
}
/*-----------------------main body---------------------------------*/
.main{
    overflow: hidden;
}
.mainBody{
    color: var(--text);
    margin-top: 70px;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
    flex-direction: column;
    width: 100vw;
}

.characterCanvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    pointer-events: none;
    display: none;
}
.characterCanvas.show {
    display: inline;
}
.target{
    position: relative;
}
/* --------------------------Home---------------------------- */
section{
    /* width: 100vw; */
    padding: 3rem 12%;
}
.home{
    display: flex;
    /* flex-direction: auto; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5vh;
    /* background-color: red; */
    /* max-width: 90vw; */
}
.home-name,
.home-subtitle{
    margin: 0;
    margin-bottom: -1rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    /* align-items: center;
    text-align: center; */
    gap: 0;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-description{
    max-width: 80%;
    margin-bottom: 0;
}
#welcome-typed{
    /* color: var(--buttonHover); */
    font-weight: bolder;
    font-size: 3rem;
    margin-right: 10px;
    display: inline-block;
}
#name{
    -webkit-text-stroke: 2px #1D1D26;
    /* for older browsers */
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    color: var(--highlight);
    font-weight: bolder;
    font-size: 4rem;
    display: inline-block;
}
.social-icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: .75rem;
    background: transparent;
    border: 3px solid var(--highlight);
    border-radius: 50%;
    color: var(--text);
    margin: 1.5rem;
    transition: 0.3s ease;
    text-decoration: none;
}
.social-icons a:hover{
    color: var(--invertText);
    background-color: var(--buttonHover);
    border: 3px solid var(--text);
    transform: scale(1.2)translateY(-5px);
}
/* ------------------GOOSE HINT-------------------------------- */
.goose-container{
    width: 80px;
}
.home-goose-hint{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    margin: 0px 50px 0px 10px;
}
.home-goose-hint img{
    filter: brightness(0) invert(var(--gooseFilter));
    width: 100%;
    height: auto;
    object-fit: contain;
}
.home-goose-hint p{
    text-align: center;
}
.home-goose-hint .hidden-text{
    display: none;
}
.home-goose-hint .hidden-text span{
    color: var(--buttonHover);
    font-weight: bold;
}
.home-goose-hint:hover .default-text{
    display: none;
}
.home-goose-hint:hover .hidden-text{
    display: block;
}
/* ------------------ABOUT-------------------------------- */
.about-container{
    row-gap: 4rem;
}
.about-content{
    display: grid;
    /* row-gap: 3rem; */
    /* justify-content: center; */
}
.about-data{
    text-align: center;
}
.about-info{
    font-weight: 700;
    font-size: 30px;
    margin: 30px;
}
.about-subtitle,
.education-subtitle{
    font-weight: 300;
}
.about-subtitle span{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 25px;
    color: var(--text);
    margin-bottom: 1rem;
}
.about-items li{
    list-style: none;
}
.about-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.about-item{
    background-color: var(--button);
    padding: .5rem .75rem;
    border-radius: 2rem;
    color: var(--buttonText);
    font-weight: 600;
    /* border: 2px solid var(--buttonText); */
    box-shadow: 0 4px 8px var(--highlightShadow);
    cursor: default;
    transition: background-color .4s, color .4s, border-color .4s;
}
.about-item:hover{
    background-color: var(--buttonHover);
    color: var(--invertText);
    box-shadow: 0 4px 8px var(--tertiaryShadow);
    /* border-color: var(--tertiary); */
}
.col2-section{
    display: flex;
    /* margin: 30px; */
}
.education-col1{
    width: 70vw;
    padding: 30px;
    padding-top: 0;
}
.tech{
    padding: 30px;
    padding-top: 0;
}
.education-subtitle span{
    column-gap: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 1rem;
}
.about-card{
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 1rem;
    /* overflow: hidden; */
    box-shadow: 0 8px 16px var(--highlightShadow);
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    /* width: 110%; */
    /* height: 110%; */
    transition: transform 0.3s ease-in-out;
}
.about-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--tertiaryShadow);
}
/* ------------------PROJECTS-------------------------------- */
.projects-container{
    row-gap: 2rem;
    width: 90vw;
    /* grid-template-columns: repeat(3, 350px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 16px var(--highlightShadow);
    background-color: var(--secondary);
    width: 350px;
    /* height: 500px; */
    height: fit-content;
    transition: transform 0.3s ease-in-out;
}
.projects-data{
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* height: 100%; */
    /* width: 100%; */
    /* display: grid; */
    /* place-content: ; */
    /* row-gap: .5rem; */
    text-align: center;
    /* border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    margin: 5%;
    align-items: center;
    /* gap: 20px; */
    
}
.projects-card:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px var(--tertiaryShadow);
}
.description-item{
    margin: 20px 0px;
}
.projects-description{
    margin-top: 20px;
    /* margin-bottom: 30px; */
}
.projects-data .about-items{
    margin: 20px 0px;
}
/* .projects-data.about-items{
    justify-content: flex-end;
} */
 .highlightedText{
    color: var(--textTertiary);
 }
/* ------------------CONTACT-------------------------------- */
.contact-container{
    row-gap: 4rem;
    grid-template-columns: 310px 450px;
    column-gap: 10rem;
}
.contact-form{
    position: relative;
    row-gap: 1rem;
    /* min-width: 60vw; */
}
.contact-input{
    background: var(--secondary);
    color: var(--text);
    border: 2px solid var(--highlight);
    outline: none;
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-weight: 700;
}
.contact-input::placeholder{
    color: var(--text);
    transition: color .4s;
}
.contact-input:focus::placeholder{
    color: var(--textHighlight);
}
.contact-input:autofill{
    transition: background-color 6000s, color 6000s;
}
.contact-area{
    height: 10rem;
    resize: none;
}
.contact-form .button{
    cursor: pointer;
    justify-self: center;
    /* margin-top: 1rem; */
}
.contact-message{
    position: absolute;
    bottom: -5rem;
    font-size: 15px;
    justify-self: center;
    text-align: center;
    line-height: 25px;
}
.contact-data{
    display: flex;
    row-gap: 1.5rem;
    flex-direction: column;
}
.contact-goose{
    width: 100px;
    height: auto;
    align-self: center;
}
.contact-address{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-style: initial;
    /* justify-content: flex-start; */
}
.contact-address i{
    font-size: 2rem;
    color: var(--text)
}
.contact-content{
    align-items: flex-start;
    justify-content: center;
    row-gap: 2rem;
}
.contact-form{
    order: 1;
}
div.email > span:nth-child(2) {
	display: none;
}
/* ------------------FOOTER-------------------------------- */
.footer{
    padding-block: 2rem 2rem;
    /* background-color: red; */
    width: 100vw;
    /* background: #3b6623;
    background: linear-gradient(0deg, rgba(59, 102, 35, 1) 35%, rgba(205, 211, 112, 1) 100%); */
    background: var(--navColor);
    background: linear-gradient(0deg, var(--highlight) 0%, var(--background) 100%);    
}
.footer-container{
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    /* width: 100%; */
    padding: 25px;
}
.footer-links,
.footer-socials{
    display: flex;
    justify-content: center;
}
.footer-logo{
    color: var(--text);
    text-decoration: none;
    font-weight: 300;
    transition: color .4s;
    font-size: 40px;
    justify-self: flex-start;
    margin-bottom: 0;
}
.footer-logo:hover{
    /* color: var(--textHighlight); */
    transform: scale(1.1);
}
.footer-links{
    column-gap: 3rem;
}
.footer-link{
    color: var(--text);
    transition: color .4s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.footer-link:hover{
    /* color: var(--pink); */
    transform: scale(1.1);
}
.footer-socials{
    column-gap: 1.5rem;
    justify-self: flex-end;
}
.footer-social{
    color: var(--text);
    font-size: 1.5rem;
    transition: transform .4s;
}
.footer-social:hover{
    transform: translateY(-0.25rem);
}
.footer-copy{
    display: block;
    margin-top: 0;
    text-align: center;
    font-size: 15px;
    color: var(--text);
}
/*-----------------------SCROLL BAR---------------------------------*/
::-webkit-scrollbar{
    width: .6rem;
    background-color: var(--scrollBarBackground);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scrollBar);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--scrollBarSelect);
}

/*-----------------------JUMP TO TOP OF PAGE---------------------------------*/
.scrollup{
    position: fixed;
    right: 2rem;
    bottom: -50%;
    /* background-color: var(--bodyColor); */
    display: inline-flex;
    padding: 6px;
    color: var(--text);
    font-size: 1.25rem;
    border-radius: .25rem;
    z-index: 101;
    transition: bottom .4s, transform .4s;
    text-decoration: none;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 2rem;
    right: 2rem;
}

/*----------------------- INSTRUCTION POPUP---------------------------------*/
.top-line{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.instruction-exit{
    margin: 10px;
    cursor: pointer;
    pointer-events: auto;
}
.top-line h2{
    margin: 10px;
    font-weight: 700;
}
.goose-instructions{
    display: none;
    pointer-events: none;
    
}
.goose-instructions.active{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;

    align-items: center;
    justify-content: center;
    z-index: 106;
}
.instruction-content{
    background-color: var(--popupBackground);
    border-radius: 5px;
    box-shadow: 0 8px 16px var(--highlightShadow);
    padding: 15px 25px;
    text-align: center;
    width: 400px;
    color: var(--popupText);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.instruction-keys{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20%;
}
.info-name{
    text-align: left;
    margin: 5px;
}
.info-key{
    text-align: right;
}
.instruction-close{
    color: var(--textTertiary);
    font-size: medium;
}
.info-breaker{
    width: 40%;
    height: 2px;
    background-color: var(--tertiary);
    border-radius: 25px;
    margin: 10px;
}
/*----------------------- BREAKPOINTS---------------------------------*/
@media(max-width: 1170px){
    .navBar .navLinks{
        padding-right: 10vw;
        padding-left: 10vw;
    }
    .projects-container{
        grid-template-columns: repeat(2, 350px);
    }
    .contact-container{
        grid-template-columns: 310px 350px;
        column-gap: 4rem;
    }
    .contact-data{
        row-gap: 1rem;
    }
    .contact-content{
        row-gap: 1rem;
    }
    .contact-form .button{
        justify-self: auto;
    }
    .contact-area{
        height: 10rem;
    }
    .footer-logo{
        font-size: 30px;
    }
}

@media (max-width: 790px) {
    nav .navBar{
        padding: 0;
    }
    nav .navBar .sideBarOpen{
        display: block;
    }
    .navLogo{
        padding-left: 15vw;
        padding-right: 10vw;
    }
    .menu{
        position: fixed;
        height: 100vh;
        width: 200px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--nav);
        z-index: 105;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: 0;
    }
    nav.active .navBar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logoToggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logoToggle .sideBarClose{
        color: var(--navText);
        font-size: 24px;
        cursor: pointer;
    }
    .navBar .navLinks{
        flex-direction: column;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .navLinks li a{
        display: block;
        margin-top: 20px;
    }
    /* --------------------------Home---------------------------- */
    .home{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-name,
    .home-subtitle{
        margin-bottom: 1rem;
    }
    .home-goose-hint{
        margin: 30px 50px 30px 50px;
    }
    .social-icons{
        flex-direction: row;
    }
    /*-------------------------ABOUT--------------------------------*/
    .col2-section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section{
        padding: 1rem;
    }
    /* --------------------------PROJECTS and CONTACT---------------------------- */
    .projects-container,
    .contact-container{
        grid-template-columns: repeat(1, 350px);
    }
    .contact-form{
        order: 0;
    }
    /* --------------------------FOOTER---------------------------- */
    .footer-container{
        grid-template-columns: none;
    }
    .footer-logo{
        font-size: 30px;
        justify-self: center;
        margin-bottom: 1rem;
    }
    .footer-links{
        column-gap: 2rem;
    }
    .footer-socials{
        justify-self: auto;
    }

    .instruction-content{
        width: 350px;
    }

    .instruction-keys{
        padding: 0px 20%;
    }
}

/* 2k resolutions */
@media screen and (min-width: 2048px){
    body{
        zoom: 1.2;
    }
}